@media screen and (max-width: 600px) {
    #registerBody,#loginBody{
        width: 100%;
        height: 100%;
    }
    #root{
        max-height: 400px;
    }
    .container{
        display: block;
        justify-items: normal;
        background-color: cadetblue;
        min-height: 700px;
    }
    .container-fluid{
        width: 100%;
    }
    .sideBarChat{
        display: grid;
        background-color: darkgray;
        align-items: end;
        align-self: baseline;
        justify-self: left;
        height: 25%;
        overflow: auto;
        max-height: 300px;
        margin-top: 30%;
    }
    .searchBar {
        border-bottom: 1px solid black;
        width: 100%;
        margin-bottom: auto;
    }
    .chat{
        height: 400px;
        overflow-y: scroll;
    }
    .home{
        background-color: cadetblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    .input-field {
        margin: 5px 0;
        padding: 6px;
    }
    .chatBOX{
        background-color: white;
        margin-bottom: auto;
        padding: 1%;
        height: 67%;
        border: #a9a9a991;
        border-style: solid;
        border-width: 13px;
    }
    .chatNavbar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        background-color: aliceblue;
        height: 65px;
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .container{
        border: 1px solid black;
        border-radius: 10px;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        display: flex;
        min-height: 750px;

    }
    .sideBarChat{
        display: flex;
        background-color: darkgray;
        align-items: end;
        overflow: auto;
        flex-direction: column-reverse;
    }
    .searchBar{
        border-bottom: 1px solid black;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .chat{
        padding-right: 0;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .home{
        background-color: cadetblue;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin-top: 1%;
    }
    .input-field {
        margin: 5px 0;
        padding: 6px;
    }
    .chatBOX{
        background-color: white;
        margin-bottom: auto;
        height: 100%;
    }
    .chatNavbar{
        display: flex;
        align-items: center;
        background-color: aliceblue;
        height: 65px;
        justify-content: space-between;
        width: 100%;
    }
    .container-fluid{
        width: 80%;
    }
}

.BGVIDEO{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.formContainerReg{
}
.formWrapperReg{
}
.logoReg{

}
.titleReg{

}
.formReg{
}
#registerUsername,#registerPassword,#registerEmail,#registerFile,#loginUsername,#loginPassword{
    margin-bottom: 5px;
    margin-top: 5px;
}
#buttonLogReg{
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-group{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
#registerBody,#loginBody{
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 20px 30px 20px;
}

.RegLogoimg{
    max-width: 35%;
}

.spanDiv{
    text-align: center;
    display: grid;

}
.chatMessageColumn{
    display: flex;
    align-items: baseline;
    margin: 2%;
}
#chatMessageText{
    align-self: center;
}
#chatTextInput{
    padding: 4px;
}
#chatUserImg{
    background-color: aliceblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    object-fit: cover;
}
#chatUserName{
width: 100%;
}
.chatTextInput{
    height: 50px;
    background-color: white;
    align-items: center;
    display: flex;
    outline: none;
    margin-right: auto;
    width: 100%;
}
#chatMessageDate{
    margin: 3%;
}
#chatMessageDivUserName{
    align-self: flex-start;
    margin-left: 2%;
}
.chatBOX{
    overflow: auto;
}

.userNavbar{
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: initial;
    justify-content: flex-end;
}
.buttonLogout{
    background-color: crimson;
    color: black;
}

.searchInput{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 10%;
    border-radius: 8px;
    border: none;
    color: black;
    outline: none;
    background-color: rgba(253, 253, 253, 0.77);
}
.searchInput::placeholder{
    color: black;
}
.searchForm{
    padding: 10px;
    align-items: center;
    display: grid;
}
#searchbarTitle{
    background-color: aquamarine;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: auto;
}
#searchFriendImage{
    width: 70px;
    height: 70px;
    border-radius: 24%;
    object-fit: cover;
    overflow: hidden;
}
#chatMessageImage{
    width: 70px;
    height: 70px;
    border-radius: 24%;
    object-fit: cover;
    overflow: hidden;
}
.searchFriendChatInfo{
padding: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: white;
    align-items: center;
    overflow: hidden;
}
.searchFriendChatInfo:hover{
    background-color: rgba(40, 44, 52, 0.6);
}
#searchUsername{

    margin-left: auto;
    margin-right: auto;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .message-avatar {
    margin-right: 10px;
  }

  .message-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .message-body {
    display: flex;
    flex-direction: column;
  }

  .message-author {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .message-content {
    background-color: #f1f0f0;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
  }

  .message-time {
    font-size: 12px;
    color: #999999;
    margin-top: 5px;
  }

  #chatTextInput[type="text"] {
    flex-grow: 1;
    padding: 1%;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 16px;
    outline: none;
  }

  #chatSendMessageButton[type="submit"] {
    margin-left: 10px;
    padding: 1% 2%;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
    #createRoomButtonConfirm{
        margin-top: 0;
    }
  #chatSendMessageButton[type="submit"]:hover {
    background-color: #3e8e41;
  }
  #roomCreation{
      display: flex;
      flex-direction: column;
      margin: 0;
      overflow: auto;
  }
  #roomImageTitle,#roomNameTitle{
      margin: 2%;
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    max-width: 90%;
    width: 400px;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup label {
    display: block;
    margin-bottom: 10px;
  }
  
  .popup input[type="text"],
  .popup input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .popup button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .popup {
      width: 90%;
      max-width: none;
    }
  }
  .join-room-button {
    display: block;
    margin: 2%;
    padding: 1%;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .join-room-button {
      font-size: 16px;
      padding: 8px 16px;
    }
  }
  
.join-create-buttons {
    display: flex;
    margin: 5%;
} 

.join-create-buttons h3 {
    display: inline;
}  
  
  
  