@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
    font-family: 'Source Sans Pro', bold;
}
@media screen and (max-width: 600px) {
    #registerBody,#loginBody{
        width: 100%;
        height: 100%;
    }
    #root{
        max-height: 400px;
    }
    .container{
        display: block;
        justify-items: normal;
        background: linear-gradient(to right, #F2E7DC,#F2B279);
        border-radius: 5px;
        margin-top: 14%;
    }
    .container-fluid{
        width: 100%;
        background: linear-gradient(to right, #F2913D, #FF5252);
    }
}

@media screen and (min-width: 600px) {

    .container{
        border: 1px solid black;
        border-radius: 10px;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        display: flex;
        min-height: 90vh;
        background-color: #F2E7DC;
        box-shadow: 0px 0px 50px #F2913D;
    }
    .container-fluid{
        width: 80%;
        background-image: url("https://images.pexels.com/photos/7130497/pexels-photo-7130497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.BGVIDEO{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#registerUsername,#registerPassword,#registerEmail,#registerFile,#loginUsername,#loginPassword{
    margin-bottom: 5px;
    margin-top: 5px;
}
#buttonLogReg{
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-group{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
#registerBody,#loginBody{
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 20px 30px 20px;
}

.RegLogoimg{
    max-width: 35%;
}

.spanDiv{
    text-align: center;
    display: grid;

}
